* {
  margin: 0%;
  padding: 0%;
  background-color: #c2b6b3;
  text-decoration: none;
  list-style-type: none; }

html {
  font-size: 62.5%; }

header {
  width: 100%; }
  header div h1 {
    color: #c2b6b3;
    font-size: 40px;
    font-family: 'Forum', cursive;
    font-weight: 500;
    text-align: center;
    background-color: #52453f;
    padding-top: 20px;
    padding-bottom: 20px; }
  header nav ul {
    display: flex;
    justify-content: center; }

.navMenu ul li a {
  color: #52423f;
  font-size: 25px;
  font-family: 'Forum', cursive;
  font-weight: 400;
  text-align: left;
  list-style: none; }

.navMenu li {
  display: flex;
  padding: 0px 10px; }

@media screen and (max-width: 510px) {
  .navMenu ul {
    flex-direction: column;
    align-items: center; } }

.footer .footerFlex {
  display: grid;
  grid-template-columns: 50% 50%; }

.footer .footerNav {
  background-color: #52453f;
  padding: 35px; }
  .footer .footerNav a {
    color: #e6e1df;
    font-size: 15px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    padding: 10px 10px;
    display: block;
    background-color: #52453f; }
  .footer .footerNav nav {
    background-color: #52453f;
    width: 100%; }

.footer .footerUbicacion {
  background-color: #52453f;
  padding: 35px; }
  .footer .footerUbicacion ul li {
    color: #e6e1df;
    font-size: 15px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    padding: 10px 10px;
    display: block;
    background-color: #52453f;
    line-height: 0.1; }
  .footer .footerUbicacion h6 {
    color: #e6e1df;
    font-size: 15px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    padding: 10px 10px;
    display: block;
    background-color: #52453f; }

.footer .ilzstudio {
  color: #c2b6b3;
  font-size: 15px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  padding: 10px 10px;
  display: block;
  background-color: #726660;
  text-align: center; }

@media screen and (max-width: 510px) {
  .footer .footerFlex {
    grid-template-columns: 100%; }
    .footer .footerFlex .footerUbicacion {
      background-color: #e6e1df;
      color: #52453f; }
      .footer .footerFlex .footerUbicacion h6 {
        background-color: #e6e1df;
        color: #52453f; }
      .footer .footerFlex .footerUbicacion ul li {
        background-color: #e6e1df;
        color: #52453f; } }

.sectionNosotras {
  display: grid;
  grid-template-columns: 70% 30%;
  align-items: center;
  margin: 25px; }
  .sectionNosotras .parrafoNosotras {
    text-align: right;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 28px;
    margin: 25px 40px; }
  .sectionNosotras .imgNosotras img {
    width: 255px;
    height: 350px;
    margin: 0 auto;
    justify-items: start; }

@media screen and (max-width: 510px) {
  .main .sectionNosotras .parrafoNosotras {
    font-size: 20px;
    text-align: center;
    margin: 15px 0px; } }

.main {
  color: #423732;
  text-align: center; }
  .main .mainTitulo {
    font-family: 'Forum', cursive;
    font-weight: 500;
    font-size: 50px;
    margin-top: 35px;
    margin-bottom: 30px; }
  .main .mainParrafo {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 25px;
    margin: 30px 60px; }
    .main .mainParrafo a {
      text-decoration-style: none;
      color: #92716c;
      font-weight: bold; }

@media screen and (max-width: 510px) {
  .main {
    display: block; }
    .main .sectionNosotras {
      display: flex;
      flex-direction: column; }
  .main .mainSection .mainTitulo {
    font-size: 35px;
    text-align: center;
    margin: 25px 0px; }
  .main .mainSection .mainParrafo {
    font-size: 20px;
    text-align: center;
    margin: 15px 0px; } }

.sectionProductos {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 20px; }
  .sectionProductos .nombreArticulo {
    color: #1a1515;
    font-size: 20px;
    font-family: 'Forum', cursive;
    font-weight: 400;
    margin: 20px; }
  .sectionProductos .formArticulo {
    color: #1a1515;
    font-size: 10px;
    font-family: 'Forum', cursive;
    font-weight: 400;
    margin: 10px; }
  .sectionProductos .imgArticulo {
    margin: 20px; }

@media screen and (max-width: 510px) {
  .sectionProductos {
    grid-template-columns: auto;
    grid-template-rows: auto; } }

.article {
  color: #52423f;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  text-align: left;
  margin: 50px;
  padding: 10px 100px; }
  .article .articleTitulo {
    font-size: 45px;
    font-family: 'Forum', cursive;
    font-weight: 500;
    line-height: 2;
    background-color: #52423f;
    color: #c2b6b3; }
  .article p {
    font-size: 25px; }
  .article a {
    text-decoration-style: none;
    color: #92716c;
    font-weight: bold; }

@media screen and (max-width: 510px) {
  .sectionArticle .article {
    font-size: 35px;
    text-align: center;
    margin: 25px 0px;
    padding: 0px; }
    .sectionArticle .article .articleTitulo {
      font-size: 25px; }
    .sectionArticle .article .articleParrafo {
      font-size: 20px; } }

.formContacto {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center; }
  .formContacto .formulario {
    margin: 10px 150px 20px 150px; }
  .formContacto label {
    font-size: 15px;
    font-family: 'Forum', cursive;
    font-weight: 400;
    display: block;
    margin: 15px 0px 5px 0px; }
  .formContacto textarea {
    background-color: #ecd6d5;
    display: block;
    margin: 15px 0px 5px 0px; }
  .formContacto .newsletter {
    display: inline-block;
    margin: 15px 0px 5px 0px; }
  .formContacto .inputTexto {
    background-color: #ecd6d5;
    display: block;
    margin-top: 10px; }
  .formContacto .iframe iframe {
    width: 300px;
    height: 300px; }

@media screen and (max-width: 510px) {
  .formContacto {
    grid-template-columns: 100%; }
    .formContacto .formulario {
      margin: 5%; }
    .formContacto .iframe {
      margin: 20px 3px; } }

/*@media screen and (max-width: 760px){
    .sectionNosotras {
        display: grid;
        grid-template-columns: 100%;
    }
}*/
